
    <!--
      body {
        color: #333333;
        background-color: #FFFFFF;
      }
      .doc {
        /* font-lock-doc-face */
        color: #036A07;
        font-style: italic;
      }
      .function-name {
        /* font-lock-function-name-face */
        color: #006699;
      }
      .indent-bars-1 {
        /* indent-bars-1 */
        color: #cf5bcf5bcb84;
      }
      .keyword {
        /* font-lock-keyword-face */
        color: #0000FF;
        font-weight: bold;
      }
      .string {
        /* font-lock-string-face */
        color: #008000;
      }

      a {
        color: inherit;
        background-color: inherit;
        font: inherit;
        text-decoration: inherit;
      }
      a:hover {
        text-decoration: underline;
      }
    -->
    